/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/

$black: #000;
$blue: #337ab7;

/**
* ----------------------------------------------------------------------------------------------------
* MIXINS
* ----------------------------------------------------------------------------------------------------
*/

@custom-selector :--hoverous :hover, :active, :focus;

/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

a {
	outline: none !important; // for firefox

	&:--hoverous {
		color: $black;
	}
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}



