/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/

$white: #fff;
$black: #000;
$gray: #e3e3e3;


/**
* ----------------------------------------------------------------------------------------------------
* MIXINS
* ----------------------------------------------------------------------------------------------------
*/

@custom-selector :--hoverous :hover, :active, :focus;

/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

img {
	max-width: 100%;
	height: auto;
}

a {
	outline: none !important; // for firefox

	&:--hoverous {
		color: $black;
	}
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}



